@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: .4em;
}

body::-webkit-scrollbar-track {
  background:rgb(97, 78, 126);
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: .5em;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #7597de;
}

body {
  min-height: 100vh;
  background: linear-gradient(#2b1055, #7597de);
  overflow-x: hidden;
}

nav {
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  z-index: 1000;
}

nav .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: .1em;
}

nav img {
  width: 14rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  transition: .15s;
  border-radius: 20px;
}

nav ul li a:hover,
nav ul li a.active {
  background-color: #fff;
  color: #2b1055;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(234, 192, 255);
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
  /* background-color: blueviolet; */
}

.menu-toggle span:last-child {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background: #fff;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background: #fff;
  transform: rotate(-45deg);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top,#1c0522,transparent);
  z-index: 1000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img.moon {
  mix-blend-mode: screen;
}

section img.mountains_front {
  z-index: 10;
}

section h2.text {
  position: absolute;
  right: -350px;
  color: #fff;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}

section a.btn {
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  display: inline-block;
  z-index: 9;
  transform: translateY(100px);
  transition: .5s;
}

article {
  position: relative;
  padding: 100px;
  color: #fff;
  background-color: #1c0522;
}

article h2 {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

article p {
  font-size: 1rem;
}


@media (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  nav {
    padding: 10px 30px;
    margin-top: 0;
  }
  section h2.text {
    font-size: 5rem;
  }
  article {
    padding: 100px 50px;
  }
}

@media (max-width: 760px) {
  :root {
    font-size: 10px;
  }
  section h2.text {
    font-size: 5rem;
    right: 1rem;
  }
  body {
    overflow-x: hidden;
  }
  .menu-toggle {
    display: flex;
  }
  nav ul {
    /* display: none; */
    background-color: #1c0522af;
    position: absolute;
    right: 0;
    top: 0;
    width: 60vw;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    transform: translateX(100%);
    transition: 1s all;
    opacity: 0;
  }

  nav ul.slide {
      transform: translateX(0);
      opacity: 1;
  }
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  nav {
    padding: 10px 10px;
  }
  nav ul li {
    margin-left: 3px;
  }
}